@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Aref+Ruqaa+Ink:wght@700&family=Kaushan+Script&family=Playfair+Display:wght@600&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color:#f99300; */
  
  color:#943389;
  color:#FC5006;
  /* background: linear-gradient(90deg, rgba(107,205,248,1) 0%, rgba(45,170,224,1) 13%, rgba(31,162,219,1) 16%, rgba(12,151,212,1) 20%, rgba(26,126,202,1) 26%, rgba(31,117,199,1) 40%, rgba(27,79,214,1) 50%, rgba(33,19,215,1) 58%, rgba(29,14,223,0.9906337535014006) 65%, rgba(25,14,171,1) 73%, rgba(2,3,78,1) 96%, rgba(4,5,49,1) 100%); */
  background: linear-gradient(280deg, rgba(107,205,248,1) 0%, rgba(45,170,224,1) 13%, rgba(31,162,219,1) 16%, rgba(12,151,212,1) 20%, rgba(26,126,202,1) 26%, rgba(31,117,199,1) 40%, rgba(27,79,214,1) 50%, rgba(29,14,223,0.9906337535014006) 66%, rgba(33,19,215,1) 68%, rgba(25,14,171,1) 73%, rgba(2,3,78,1) 96%, rgba(4,5,49,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
